.radio {
    width: 20px;
    height: 20px;
    accent-color: black;
    }

.radio::before {

}


.radio:checked::before {

}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.options {
    display: flex;
    flex-direction: column; /* Выстраивает кнопки в столбик */
    gap: 20px;

}
